/* Block */

.Character {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
}

/* Element */

.Character__Avatar {
    margin-right: 20px;
}

.Character__ItemCard {
    margin: 10px 0;
}
