.Button {
    border: 2px solid black;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
}

.Button:hover {
    background-color: palegreen;
}

.Button:active:not(.Button_active) {
    background-color: darkseagreen;
}

.Button_active {
    background-color: palegreen;
    cursor: default;
}

.Button_active:hover {
    background-color: palegreen;
}

.Button_disabled,
.Button_disabled:active {
    border: 2px solid gray;
    color: gray;
    background-color: #eee;
    cursor: default;
    opacity: 0.4;
}
