/* Element */

.ItemCard__ItemCardRow {
    line-height: 1.7em;
    display: table-row;
    font-size: 15px;
}

.ItemCard__ItemCardRowKey {
    display: table-cell;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.ItemCard__ItemCardRowValue {
    display: table-cell;
    padding-left: 10px;
}
